<div class="board">

    <div class="board-bar">
        <p class="board-name">{{board.name}}</p>
    </div>

    <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
            <div 
                *ngFor="let column of board.columns"
                class="board-column">
                <div class="board-title">
                    {{column.title}}
                </div>
                <div 
                    class="task-container"
                    cdkDropList
                    [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event)">
                    <div 
                        cdkDrag
                        class="task"
                        *ngFor="let task of column.tasks">
                        {{task}}
                    </div>                               
                </div>
            </div>
        </div>
    </div>
</div>